<div class="row">
    <div class="col-md-12">
        <center>TO-DO List</center>
        <div class="row" ng-repeat="x in list" style=" border: 1px solid antiquewhite;">
            <div class="col-md-5" style="text-align: right">
                <input type="checkbox" ng-checked="{{x.status}}" ng-click="featureSelect(x.task, $event)"/>{{x.status}}
            </div>
            <div class="col-md-7" style="text-align: left">
                {{x.task}}
            </div>
        </div>
        <div class="row" >
            <div class="col-md-5" style="text-align: right"><input type="button" class="btn" style="width: 50%;" ng-click="add()" value="Add Task"></div>
            <div class="col-md-7" style="text-align: left">
                <input type="text" placeholder="Enter task" style="width: 50%; text-align: center" ng-model="taskname"></div>
        </div>


    </div>
</div>